/script.py
/config.py
/gemini info.txt
/backend/.env
/backend/app/services/.env
backend/.venv/Scripts/pythonw.exe
backend/.venv
backend/.env
frontend/node_modules
/backend/app/__pycache__
/backend/app/api/__pycache__
/backend/app/services/__pycache__
