.auth-container {
  background: #ffffff;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #e5e7eb;
  min-width: 55dvh;
  max-width: 430px;
  border-radius: 24px;
  padding: 30px;
  margin: 20px;
  text-align: center;
}
header {
  font-size: x-large;
  font-weight: bold;
}
.label-input {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.label-input input {
  height: 45px;
}

.label-input input,
button {
  border: 1.5px solid #9d9e9e;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  margin-top: 5px;
}
.label-input label {
  margin-top: 20px;
}

.container {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
