.ResultSummary-container {
  background: var(--color-card);
  border: 1px solid var(--color-border);
  min-width: 50dvh;
  border-radius: 24px;
  padding: 15px;
  background: rgb(238, 238, 238);
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgb(190, 190, 190);
  margin-bottom: 20px;
  margin-top: 30px;
}
